@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the browser elements stretch to full height and remove default margins */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}